<div class="main users-index">
  <div class="container">
    <h1 class="users-heading">ユーザー一覧</h1>
    <%@users.each do |user|%>
    <div class="users-index-item">
      <div class="user-left">
        <img src="<%="/user_images/#{user.image_name}"%>">
      </div>
        <div class="user-right">
          <%=link_to(user.name, "/users/#{user.id}")%>
        </div>
      </div>
    <%end %>
  </div>
  <p id="page-top-btn"><a href="#wrap">▲Page Top</a></p>
</div>

<%= javascript_include_tag "general/page-top-btn.js" %>
