<div class="main top-main">
  <div class="about about-main">
    <h2>Local Twitter とは</h2>
    <p>
      特定のメンバーだけで使うローカルTwitterです。
    </p>
    <p>
      近況やつぶやきを投稿し、仲間との思い出を残していきましょう。
    </p>
  </div>
</div>
