<div class="main top-main">
  <div class="about about-main" id="about_main">
    <h2>Dialy とは</h2>
    <p>
      特定のメンバー内でシェアしあう日記アプリです。
    </p>
    <p>
      近況やつぶやきを投稿し、メンバーとの思い出を残していきましょう。
    </p>
  </div>
</div>

<script type="text/javascript">
  $(function() {
  $('#about_main').hide().fadeIn('slow');
  });
</script>
